
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center m-10">
    <div class="col-md-12">
        <h1 class="text-bold text-highlight"><u>Admin Dashboard</u></h1>
    </div>

    <div class="col-md-4 col-md-offset-4">
        <div class="text-center text-white border-radius" style="padding: 25px; background: #196f9c">
            <h3 class="text-semibold">Total Tables</h3>
            <h2 class="text-bold">@ViewBag.Count</h2>
        </div>
    </div>

</div>
