@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <a class="btn btn-success" href="@Url.Action("ReadQr","Home")">Qr Code</a>
        <a class="btn btn-info" href="@Url.Action("ReadBar","Home")">bar Code</a>
    </center>
</div>

