
@{
    ViewBag.Title = "Read Qr code";
}

<div class="jumbotron">
    <center>
        Qr Code
        <br />
        <img src="@ViewBag.Path" width="100"/>
        <br />
        <b>Text: </b>@ViewBag.Text
    </center>
</div>
