
@{
    ViewBag.Title = "Read Bar code";
}

<div class="jumbotron">
    <center>
        Bar Code
        <br />
        <img src="@ViewBag.Path" width="150" />
        <br />
        <b>Text: </b>@ViewBag.Text
    </center>
</div>