
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostIndex</title>
</head>
<body>
    <br />
    <br />
    <br />
    <div align="center">
        <img src="@ViewBag.Img" width="500"/>
        <br />

        <a href="@ViewBag.Img" download>Download</a>
    </div>
</body>
</html>
