
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RenderBarcode</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <div align="center">

        <img src="@ViewBag.BarCode" />
    </div>
</body>
</html>
