
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form action="@Url.Action("GenerateBarCode", "Home")" method="post">

        <div align="center">
            <h2>Generate Image</h2>
            <input type="text" required name="barcode" />
            <br /><br />
            <input type="submit" value="Generate" />
            <hr />
        </div>

    </form>

</body>

</html>
