
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}



<div class="row">
    <div class="col-md-7 col-sm-6">
        <div class="about-title clearfix">
            <h1>About <span>Nodlays</span></h1>
            <h3>Nodlays privides Web Development Services </h3>
            <p class="about-paddingB">
                Visuals are such a big part of an About Us page, and Active Campaign does a great job showing off their employees and their office environment. They also have a small section describing what a normal day in the office is like. This helps entice prospective employees while also putting a face to the company and making it more relatable.
            </p>
            <p>Visuals are such a big part of an About Us page, and Active Campaign does a great job showing off their employees and their office environment. They also have a small section describing what a normal day in the office is like. This helps entice prospective employees while also putting a face to the company and making it more relatable.</p>

            <div class="about-icons">
                <ul>
                    <li><a href="https://www.facebook.com/" target="_blank"><i id="social-fb" class="icon-facebook"></i></a> </li>
                    <li><a href="https://twitter.com/" target="_blank"><i id="social-tw" class="icon-twitter"></i></a> </li>
                    <li> <a href="https://www.youtube.com/" target="_blank"><i id="social-gp" class="icon-youtube"></i></a> </li>
                </ul>





            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-6">
        <div class="about-img">
            <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
        </div>
    </div>
</div>

